* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hide {
  display: none;
}

/* HEADER */
header {
  background-color: #e5ab2e;
  color: white;
  padding: 20px;
  font-weight: 300;
  text-align: center;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: auto;
  padding-top: 40px;
}

input {
  border: 1px solid rgba(128, 128, 128, 0.354);
  border-radius: 10px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 12%), 0 2px 3px rgb(0 0 0 / 24%);
  padding: 5px;
}

.input_container {
  display: flex;
  justify-content: center;
}

/* ERROR */
#error_container {
  color: rgb(175, 34, 34);
  font-weight: bold;
  font-size: 80%;
  font-style: italic;
  text-align: center;
}

#temperature_converter_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 400px;
  margin-top: 20px;
  gap: 20px;
}

#temperature_form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 10px;
}

/* RESULT */
#result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin-top: 40px;
  padding: 20px;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
}

#result #to_value_span {
  font-weight: bold;
}

#submit_button {
  max-width: 200px;
  background-color: #e5ab2e;
  margin-top: 10px;
  cursor: pointer;
  color: white;
  font-weight: 700;
}

#submit_button:hover {
  background-color: #d09c2c;
}
